<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile="cache/phpunit"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="xdebug.mode" value="coverage" />
        <env name="XDEBUG_MODE" value="coverage" />
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">test/Unit</directory>
        </testsuite>
        <testsuite name="IntegrationWhitebox">
            <directory suffix="Test.php">test/IntegrationWhitebox</directory>
        </testsuite>
        <testsuite name="IntegrationBlackbox">
            <directory suffix="Test.php">test/IntegrationBlackbox</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="cache/phpunit-coverage"
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="reports/test-coverage/clover.xml"/>
            <crap4j outputFile="reports/test-coverage/crap4j.xml" threshold="50"/>
            <html outputDirectory="reports/test-coverage/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="reports/test-coverage/coverage.php"/>
            <text outputFile="reports/test-coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="reports/test-coverage/xml-coverage"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="reports/test-results/junit.xml"/>
        <testdoxHtml outputFile="reports/test-results/testdox.html"/>
        <testdoxText outputFile="reports/test-results/testdox.txt"/>
        <testdoxXml outputFile="reports/test-results/testdox.xml"/>
        <text outputFile="reports/test-results/text.xml"/>
    </logging>
</phpunit>
