name: PHP Composer

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-version: ['8.0']
    name: PHP ${{ matrix.php-version }} Test on ${{ matrix.operating-system }}
    env:
      php-extensions: swoole
      key: cache-v001 # can be any string, change to clear the extension cache.
    steps:
      - uses: actions/checkout@v2

      # -- Docker tools
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      # -- PHP tools

      - name: Setup cache environment
        id: extcache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ env.php-extensions }}
          key: ${{ env.php-extensions }}

      - name: Cache extensions
        uses: actions/cache@v2
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}

      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.0"
          extensions: ${{ env.php-extensions }}
          ini-values: memory_limit=4096M
          tools: composer:v2
          coverage: xdebug
          fail-fast: true

      # -- App

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache vendor/ packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Cache vendor-bin/tools/vendor/ packages
        id: composer-bin-cache
        uses: actions/cache@v2
        with:
          path: vendor-bin/tools/vendor
          key: ${{ runner.os }}-php-bin-${{ hashFiles('**/vendor-bin/**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-bin-

      - name: Install Composer dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run code verify
        run: composer verify

      - name: Run tests
        run: composer test

      - name: Setup devstack
        run: docker-compose up -d devstack_app
